@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,500;1,200&display=swap");

* {
  margin: 0;
  padding: none;
}

body {
  background-color: #fff;
  margin: auto;
}

main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

h1,
h2 {
  font-family: "Playfair Display", serif;
  font-size: 50px;
  font-weight: 100;
  margin-bottom: 20px;
}

p,
a,
h3,
.language,
.about-list,
.about-list-heading,
input,
textarea {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

h3 {
  font-size: 20px;
  font-weight: 300;
}

a {
  text-decoration: none;
  text-align: center;
}

a.button,
.about-list,
.ft-get-resume,
button {
  font-size: 16px;
  font-weight: 600;
}

.fa-brands,
.fa-arrow-up-right-from-square {
  font-size: 24px;
}

.ft-get-resume {
  align-items: center;
  color: #92dcdc;
  gap: 20px;
  display: flex;
}

.ft-get-resume:hover {
  color: #fff;
}

.navLogo {
  background-repeat: no-repeat;
  background-size: 35.5%;
  height: 100px;
}

.hamburger {
  margin: 19px;
  float: right;
}

.headline-container {
  background-size: 100%;
}

.headline-intro {
  padding: 0 16px;
}

.headline-img2 {
  display: none;
}

.headline-img1 img {
  width: 100vw;
}

.headline-img3 {
  display: none;
}

.navy-button {
  display: block;
  background-color: #1a2236;
  color: #fff;
  border: none;
  padding: 15px;
  margin: 30px auto;
}

.about-dots {
  display: none;
}

.navy-button:hover {
  border: 1px #1a2236 solid;
  background-color: #fff;
  color: #1a2236;
}

.navy-button:active {
  border: 2px #1a2236 solid;
}

.project-heading {
  padding-left: 16px;
}

.project-info {
  background-color: #1a2236;
  padding: 20px;
  margin-bottom: 200px auto;
}

.sub-heading {
  padding-left: 16px;
}

.project-img {
  width: 100%;
  margin-top: -10px;
}

.project-name {
  color: #fff;
}

.fa-arrow-right {
  width: 20px;
  margin: auto;
}

.language-info {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}

.language {
  background-color: #98dede;
  color: #1a2236;
  padding: 6px 10px;
  font-size: 10px;
  font-weight: 500;
}

.project-view,
.get-cv {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.project-view {
  border: 1px #fff solid;
  width: 178px;
  margin: 20px auto 0 0;
}

.about {
  padding: 0 16px;
}

.about-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.about-lang-color,
.about-framework-color,
.about-skills-color,
.about-languages,
.about-framework,
.about-skills {
  margin: auto;
  width: 100%;
  height: 300px;
}

.about-lang-color {
  background: #1c528a;
}

.about-framework-color {
  background: #e2505c;
}

.about-skills-color {
  background: #febf52;
}

.about-languages {
  background: url("./images/about-img1.svg") right bottom no-repeat;
}

.about-framework {
  background: url("./images/about-img2.svg") right bottom no-repeat;
}

.about-skills {
  background: url("./images/about-img3.svg") right bottom no-repeat;
}

.about-list {
  margin-left: 30px;
}

.about-list-heading,
.about-list,
.social-network-icon {
  color: #fff;
}

.about-list-heading {
  font-weight: 800;
  font-size: 18px;
  padding: 50px 0 20px 50px;
}

.contact-form {
  background: #f9f9fa;
}

.contact-form-background {
  background: url("images/image_geometry_1.svg") no-repeat;
  background-size: 35.5%;
  height: 100px;
}

.contact-form-container {
  padding: 18px;
  display: flex;
  flex-direction: column;
}

.contact-button {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 32px;
}

input,
textarea {
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #dfdfe0;
  font-size: 14px;
  font-weight: 400;
}

input {
  height: 52px;
  padding: 0 16px;
}

textarea {
  padding: 16px;
  height: 112px;
}

input:valid,
textarea:valid {
  border: 2px solid #0f0;
}

footer {
  margin-top: 50px;
}

.footer {
  background: #1a2236;
  height: 100px;
  padding: 20px;
  gap: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.social-networks {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  display: none;
}

.no-display {
  display: none;
}

.in-front {
  position: fixed;
  right: 5%;
  top: 2.5%;
  z-index: 1;
}

.enlarged-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("images/mobile_menu_top.png"),
    url("images/mobile_menu_bottom.png"), url("images/dots.png"),
    url("images/dots.png");
  background-repeat: no-repeat;
  background-position: left top, left bottom, 75% 15%, 15% 75%;
  background-size: 11.1rem 7.4rem, 32rem 8rem, 4rem, 4rem;
}

.enlarged-menu a {
  padding: 0.3rem 0;
  font: 400 1.6rem/4.8rem "Poppins", sans-serif;
  color: black;
}

/* DESKTOP VERSION STYLING */

@media (min-width: 768px) {
  .nav-links {
    display: flex;
    gap: 50px;
  }

  .nav-links a {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #1a2236;
    transition-property: font-size;
    transition-duration: 1s;
    transition-delay: 0.01s;
  }

  .nav-links a:hover {
    border-bottom: 2px solid #1a2236;
  }

  .hamburger,
  .navLogo {
    display: none;
  }

  header {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    box-shadow: 0 0.5px 0 #dddfe6;
  }

  .headline-img1 {
    display: none;
  }

  .headline-img2 {
    display: inline-block;
  }

  .headline-img2 img {
    height: 100%;
    width: 100%;
  }

  .headline-img3 {
    display: inline-block;
    position: relative;
    top: -180px;
    left: -176px;
  }

  .headline-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .headline-intro {
    width: 70%;
    padding-left: 50px;
  }

  h1,
  h2 {
    font-size: 80px;
  }

  .headline-intro h1 {
    margin-top: 100px;
    text-align: left;
  }

  .about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 950px;
    padding: 0;
  }

  .about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
  }

  .about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
    grid-area: 1 / 1;
    background: url("./images/desktop/image_dots_with_teal.svg") no-repeat 100%
      100%;
    background-size: 40%;
  }

  .about-me {
    padding: 0 50px;
    padding-left: 50px;
  }

  .contact-form-background {
    display: none;
  }

  .contact-form {
    background: url("./images/desktop/image-geometry_6.svg") no-repeat,
      url("./images/desktop/image-geometry_7.svg") no-repeat 100% 100%;
    background-size: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-form-container {
    padding: 0;
    width: 542px;
  }

  form {
    display: inline;
    margin-top: 42px 0;
  }

  input {
    width: 48%;
    height: 60px;
    margin-bottom: 42px;
  }

  #name {
    float: left;
  }

  #email {
    float: right;
  }

  textarea {
    padding: 16px;
    width: 100%;
    height: 140px;
  }

  .navy-button {
    width: 254px;
    width: 50%;
    float: left;
  }

  .contact-button,
  .get-resume {
    display: block;
    margin: 30px auto;
    margin-left: 133px;
  }

  .footer {
    padding: 0 60px;
    height: 8vh;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .social-networks {
    gap: 32px;
  }

  .p6,
  .pb3,
  .pb4,
  .pb2 {
    display: none;
  }

  .p1 {
    width: 98%;
    height: 600px;
    grid-area: p1;
  }

  .pi5 {
    position: relative;
    width: 92%;
    left: 68px;
  }

  .project-heading h2 {
    display: inline-block;
    transform: rotate(-90deg) translateX(-50%);
    padding-right: 50px;
    font-weight: 400;
    font-size: 110px;
    line-height: 100%;
    color: #1a2236;
  }

  .projects-container {
    background: url("./images/desktop/image_dots.svg") no-repeat 30% 8%,
      url("images/desktop/image-geometry_5.svg") no-repeat 0 90%,
      url("images/desktop/image-geometry_2.svg") no-repeat 48% 52%,
      url("images/desktop/image-geometry_3.svg") no-repeat 80% 82%,
      url("images/desktop/image-geometry_4.svg") no-repeat 45% 90%;
    background-size: 7%, 15%, 26%, 35%, 7%;
  }

  .project-wrapper {
    display: grid;
    width: 100%;
    background: none;
    grid-template-areas:
      ". . . p1 p1 p1 p1 p1"
      ". . . p1 p1 p1 p1 p1"
      "p2 p2 . . . . p5 p5"
      "p3 p3 p3 p3 p3 . p5 p5"
      "p3 p3 p3 p3 p3 . . ."
      ". . . . . p4 p4 .";
  }

  .p2 {
    grid-area: p2;
  }

  .p3 {
    grid-area: p3;
  }

  .p4 {
    grid-area: p4;
  }

  .p6 {
    grid-area: p6;
  }

  .p5 {
    display: flex;
    flex-direction: column;
    grid-area: p5;
    position: relative;
    width: 90%;
    height: 100px;
    top: 50px;
  }

  .pb5 {
    position: relative;
    top: 45px;
    width: 73%;
    left: 49px;
    order: -1;
  }

  a.button {
    font-size: 0.8rem;
  }

  .project-view {
    gap: 0;
    justify-content: space-between;
    background-color: #1a2236;
    color: #fff;
  }

  .project-info {
    padding: 50px;
    height: 120px;
    margin: 0 auto;
  }

  .project-view:hover {
    background-color: #fff;
    color: #1a2236;
  }
}
